@model Managementsysteem.Models.Taak

@{
    ViewData["Title"] = "Nieuwe taak";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h4>Nieuwe taak</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="col-md-6 infoblock">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Naam" class="control-label"></label>
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Omschrijving" class="control-label"></label>
                    <textarea asp-for="Omschrijving" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="Omschrijving" class="text-danger"></span>
                </div>


            </div>
            <div class="col-md-6 infoblock">
                <div class="form-group">
                    <label asp-for="Datum" class="control-label"></label>
                    <input asp-for="Datum" class="form-control" />
                    <span asp-validation-for="Datum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VerwachteUren" class="control-label"></label>
                    <input asp-for="VerwachteUren" class="form-control" />
                    <span asp-validation-for="VerwachteUren" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Werknemer</label>
                    <select asp-for="User_id" class="form-control" asp-items="ViewBag.User_id"></select>
                </div>
                <div class="form-group">


                    <input type="hidden" asp-for="Image" />

                    <input type="file" name="ProfilePictureFile" />
                    <span asp-validation-for="Image" class="text-danger"></span>

                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-success toevoegen" />
            </div>
        </form>
        </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
