@model Managementsysteem.Models.Klant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Create</h2>

<h4>Klant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contactpersoon" class="control-label"></label>
                <input asp-for="Contactpersoon" class="form-control" />
                <span asp-validation-for="Contactpersoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefoon" class="control-label"></label>
                <input asp-for="Telefoon" class="form-control" />
                <span asp-validation-for="Telefoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Straatnaam" class="control-label"></label>
                <input asp-for="Straatnaam" class="form-control" />
                <span asp-validation-for="Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Huisnummer" class="control-label"></label>
                <input asp-for="Huisnummer" class="form-control" />
                <span asp-validation-for="Huisnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Woonplaats" class="control-label"></label>
                <input asp-for="Woonplaats" class="form-control" />
                <span asp-validation-for="Woonplaats" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Profiel_foto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @*<img src="~/Uploads/@Model.Naam/@Model.Profiel_foto" class="profilePicture" />*@
                    <input type="hidden" asp-for="Profiel_foto" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="ProfilePictureFile" />
                    <span asp-validation-for="Profiel_foto" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
