
.padd{
    padding: 5px;
}

/* context menu icons */
.icon:before {
    position: absolute;
    margin-left: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    content: '';
}

.icon-blue:before {
    background-color: #1066a8;
}

.icon-green:before {
    background-color: #6aa84f;
}

.icon-yellow:before {
    background-color: #f1c232;
}

.icon-red:before {
    background-color: #cc0000;
}

.btn-link {
    color: #fff;
}

.profilePicture{
    width: 100%;
    height: auto;
}

.search{
    padding-bottom: 20px;
}
.klant{
    float: left;
    padding: 10px;
}

.knoppen{
    margin-top: 20px;
}
.knop {
    color: #fff;
    background-color: #0079c1;
    border-color: #0079c1;
}
li.nav-item{
    font-size: 20px;
}
.klantcol{
    float: left;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.img_button{
    min-height: 170px;
}

.infoblock {
    float: left;
}
.toevoegen{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.details {
    min-height: 240px;
    padding: 10px;
}
.projecttitle{
    margin-top: 20px;
}

.margtop{
    margin-top:30px;
}

.logonaam {
    margin: auto;       
    text-align: center;
}

.card.card-login.mx-auto.mt-5, .card.card-register.mx-auto.mt-5 {
    top: 15px;
}

.homeklant{
    margin-top: 20px;
    padding: 0 50px ;
    float: left;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.col-lg-12.homeproject {
    margin: 5px 0px;
}


.nopad {
   padding-right: 0px !important;
}