@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
}


    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
              <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
           
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <div class="form-group">
                      <label asp-for="Email"></label>
                      <input asp-for="Email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <label asp-for="Password"></label>
                      <input asp-for="Password" class="form-control" />
                      <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                      <div class="checkbox">
                          <label asp-for="RememberMe">
                              <input asp-for="RememberMe" />
                              @Html.DisplayNameFor(m => m.RememberMe)
                          </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Log in</button>
                  </div>
                  <div class="text-center">
                      <p>
                          <a class="d-block small mt-3" asp-action="ForgotPassword">Forgot your password?</a>
                      </p>
                      <p>
                          <a class="d-block small" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                      </p>
                  </div>
              </form>

      </div>
    </div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
