@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Taken</h2>
    </div>
    <div class="col-md-4">
        <h2>Projecten</h2>
    </div>
    <div class="col-md-4">
        <h2>Afspraken</h2>
    </div>
</div>
